body{
  margin: 0;
  padding: 0;
}

.conteinner{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
}

.header img {
  width: 120px;
  margin-bottom: 3px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 54px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 13px 0 13px;
}

nav ul li a{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
}

.contact{
  display: flex;
  justify-content: space-between;
  margin-top: 98px;
}

.contact h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #13A9BB;
  margin-bottom: 6px;
}

.contact p{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 37px;
}

.titleForm{
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #13A9BB;
}

.inputForm{
  width: 265px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #00000024;
  margin-top: 17px;
  padding-left: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact div form{
  width: 82%;
}
.firstContact{
  margin-left: 22.6%;
}

.firtsForm {
  display: flex;
}
.lastForm{
  display: flex;
  flex-direction: column;
  margin-top: 37px
}
.lastForm input{
  width: 557px;
  height: 146px;
}

.lastForm input::placeholder {
  align-items: end;
}

.messageInput{
  width: 580px;
  height: 146px;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  resize: none;
  padding-left: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnSubmit{
  margin-top: 28px;
  width: 240px;
  height: 40px;
  border-radius: 15px;
  border: 0;
  background: #f49c1e;
  color: #fff;
}

.btnSubmit:hover{
  cursor: pointer;
}

.footer img{
  width: 120px;
}

.footer{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 158px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.locationData{
  display: flex;
  flex-wrap: wrap;
  width: 546px;
}
.locationData div{
  margin-right: 20px;
  margin-bottom: 10px;
}
.titleFooter{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footerValue{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.tileSocialMidia{
  display: flex;
  align-items: center;
}