body{
  margin: 0;
  padding: 0;
}

.conteinner{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
}

.header img {
  width: 120px;
  margin-bottom: 3px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 54px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 13px 0 13px;
}

nav ul li a{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
}

.howToPlay{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howToPlay h1{
  font-size: 35px;
  color: #B53E90;
  line-height: 52.5px;
  font-family: Poppins;
  font-weight: 600;
}

.howToPlay p{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: Quicksand;
  font-weight: 400;
  width: 917px;
  text-align: center;
  margin-bottom: 37px;
}

.howToPlay div{
  margin-bottom: 15px;
}

.footer img{
  width: 120px;
}

.footer{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 158px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.locationData{
  display: flex;
  flex-wrap: wrap;
  width: 546px;
}
.locationData div{
  margin-right: 20px;
  margin-bottom: 10px;
}
.titleFooter{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footerValue{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.tileSocialMidia{
  display: flex;
  align-items: center;
}