
body{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}


.conteinner{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
}

.header img {
  width: 120px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 54px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 13px 0 13px;
}

nav ul li a{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
}

.firstPage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstPage div{
  width: 20%;
  margin-right: 114px;
}
.firstPage img{
  width: 570px;
}
.firstPage div p{
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: Quicksand;
  font-weight: 700;
}

.firstPage div h1{
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  font-family: Poppins;

}

.containnerHowToPlay{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containnerHowToPlay h1{
  color: #FF7A00;
  margin-top: 70px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Poppins;
}

.containnerHowToPlay p {
  width: 42%;
  margin-top: 50px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.containnerHowToPlay a{
  width: 240px;
  background: #13A9BB;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: Quicksand;
  border-radius: 15px;
  margin-top: 61px;
  margin-bottom: 102px;
}

.firstAbout img{
  width: 561px;
  Height: 404px;
  border-radius: 20px 0px 0px 20px;
  margin-top: 34px;
}

.firstAbout {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.firstAbout div{
  flex-direction: column;
  width: 437px;
  margin-left: 23%;
}

.firstAbout div p{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.firstAbout div h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
  color: #B53E90;
}

.team{
  text-align: center;
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 159px;
}

.team h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
  color: #13A9BB;
  margin-bottom: 0;
}

.team p{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.team img{
  margin-top: -90px;
  position: relative;
  z-index: -1;
}

.footer img{
  width: 120px;
}

.footer{
  background: linear-gradient(179deg, rgba(29,131,187,1) 0%, rgba(19,169,187,1) 35%, rgba(19,169,187,1) 100%);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 158px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.locationData{
  display: flex;
  flex-wrap: wrap;
  width: 546px;
}
.locationData div{
  margin-right: 20px;
  margin-bottom: 10px;
}
.titleFooter{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footerValue{
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.tileSocialMidia{
  display: flex;
  align-items: center;
}

